body{
  background-color: rgb(22, 22, 22);
  color: white;
}

.boards{
  margin-top: 40px;
  
  display: flex;
  justify-content: space-evenly;

}
.board{
  background-color:#141316;

  min-width: 300px;
  min-height: 200px;
  
  
  
  border-radius: 5px;

  
}

.board h3{
  color:#ff7214cc;
  min-width: 300px; 
  text-indent: 10px;
  font-weight: 900;
  box-shadow: 0 2px 2px -1px #ff7214;
  font-size: 15px;
}
.dropzone{
  background-color:#141316;
  padding-top: 15px ;
  max-width: 300px;
  min-height: 150px;
 
  border-radius: 5px;
  box-shadow: 0 2px 2px -1px #ff7214;
  transition: 400ms;
  
}


  




 .statusblue{
  padding-bottom: 7px;
  margin-bottom: 5px;
  background-color:rgb(71, 71, 219);
  max-width: 25px;
  
  border-radius: 15px ;
}

.statusyellow{
  padding-bottom: 7px;
  margin-bottom: 5px;
  background-color:yellow;
  max-width: 25px;

  border-radius: 15px ;
}

.statusgreen{
  padding-bottom: 7px;
  margin-bottom: 5px;
  background-color:green;
  max-width: 25px;

  border-radius: 15px ;
}



.highlight{
  background-color: #fd951f08;
}

.is-dragging{
  cursor:pointer;
  opacity: 0.3;

}
.over{
  background-color: #4cd13711;
}

.new-task{
  background-color: #141316;
  border: 0;
  border-radius: 10px;
  color: #ff7214;
  margin-top: 25px;
  outline: 0;
  

}
#task{
  max-width: 250px;
  min-width: 250px;
  min-height: 50px;
  max-height: 200px;
  resize: initial;
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  font-weight: 700;

  background-color:#141316;
  color: white;
  
  
  border-radius: 10px;
  border: none;
  margin: 10px 0;
  
  box-shadow: 0 2px 2px -1px #ff7214;
  text-indent: 10px;
  transition: 200ms;
  border-left: 10px;
  outline: 0;
}


.delete-task{
  cursor: grab;
  
  margin-left: 1200px;
  margin-top: 200px;
  
  background-color: rgb(22, 22, 22);;
  border: 0;
  border-radius: 10px;
  color: #ff7214;
  
  outline: 0;

  transition: 2s;
}
.delete-task img{
  width: 50px;
}
.over2 img{
  width: 100px;;
}